<div class="results">
  <p class="typed"><%= @page.error_message %><span class="ani-long cursor">&nbsp;</span></p>
  <a href="/"><button type="button" class="metal_color">Search again</button></a>
</div>
