<form action="search" method="post">
  <input type="text" name="username" placeholder="<%= @prompt %>" pattern="^[\w](?:[\w]|-(?=[\w])){0,38}$" title="only valid github usernames are execpted" required>
  <button type="submit" name="button">Search</button>
</form>
