<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>GitHub user lookup</title>
  <link type="text/css" rel="stylesheet" href="css/styles.css">
</head>
<body>
  <h1 class="title metal_color">GitHub user lookup</h1>
  <div class="outer-box">
    <div class="container">
      <%= yield %>
    </div>
  </div>
</body>
</html>
